section{
	width: 100%;
	height: 100%;
	float: left;
	padding: 0;
	margin: 0;
}

body, html{
	height: 100%;
	width: 100%;
}

#home{
	background-image: url("profil.jpg");
	background-position: center center;
	background-size: cover;
	min-height: 100%;
	min-width: 1024px;

	width: 100%;
	height: auto;

	position: absolute;
	top: 0;
	left: 0;
}

#home ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#home ul li{
	display: inline-block;
	float: left;
}

li a{
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
	font-size: 22px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-weight: 1000;
}

nav{
	padding-top: 30px;
	padding-left: 34%;
	border-bottom: 2px;
}

li a:hover{
	color: #a9a9a9;
}

/* endof section home */

/* section 2 */
#bio{
	background-color: white;
	background-size: cover;
}

.timeline-butt{
	padding-top: 12%;
	padding-left: 11px;
	text-align: left;
	position: absolute;
}

.timeline-butt b{
	padding: 12px;
	border:none;
	color: black;
	display: block;
	text-decoration: none;
}

.timeline-butt b:hover {
  color: #ccc;
}

.timeline-butt b.active {
  color: green;
}



