*{
	padding: 0;
	margin: 0;
}

section{
	width: 100%;
	height: 1000px;
	float: left;
	display: flex;
}

body, html{
	height: 100%;
	width: 100%;
}

#home{
	background: linear-gradient(to right, rgba(0,0,0,1), rgba(17,17,17,1), rgba(105,100,100,0.62)), url("profil.jpg");

	background-position: center center;
	background-size: cover;
	min-height: 100%;
	min-width: 1024px;

	width: 100%;
	height: auto;

	position: absolute;
	top: 0;
	left: 0;
}

#kenalan {
	color: white;
	float: left;
	padding-top: 14%;
	padding-left: 4%;
	text-align: left;
	position: absolute;
}

#kenalan h1{
	
}

#kenalan h4{

}

#kenalan h5{

}

#home ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#home ul li{
	display: inline-block;
	float: left;
}

li a{
	text-align: center;
	padding: 14px 27px;
	text-decoration: none;
	color: white;
	font-size: 22px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-weight: 1000;
	border-radius: 100px/50px;
}

nav{
	padding-top: 30px;
	padding-left: 39%;
}

li a:hover{
	font-size: 27px;
	color: #3f3e39;
}

/* endof section home */

/* section 2 */
#bio{
	background-color: black;
	background-size: cover;
	color: white;
	min-height: 100%;
	min-width: 1024px;
	background-position: center center;

	margin-top: 47%;
}

.timeline-butt{
	padding-top: 14%;
	padding-left: 4%;
	text-align: left;
	position: absolute;
	cursor: pointer;
	font-size: 32px;
}

.timeline-butt b{
	padding: 12px;
	border:none;
	color: white;
	display: block;
	text-decoration: none;
}

.timeline-butt b:hover {
  color: #ccc;
  font-size: 38px;
}

.teks-bio{
	padding-left: 20%;
	padding-top: 20%;
	visibility: hidden;
}



