*{
	padding: 0;
	margin: 0;
}

section{
	width: 100%;
	height: 1000px;
	float: left;
	display: flex;
}

body, html{
	height: 100%;
	width: 100%;
}

#home{
	background: linear-gradient(to right, rgba(0,0,0,1), rgba(17,17,17,1), rgba(105,100,100,0.62)), url("profil.jpg");

	background-position: center center;
	background-size: cover;
	min-height: 100%;
	min-width: 1024px;

	width: 100%;
	height: auto;

	position: absolute;
	top: 0;
	left: 0;
}

#kenalan {
	color: white;
	float: left;
	padding-top: 14%;
	padding-left: 4%;
	text-align: left;
	position: absolute;
}

#home ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#home ul li{
	display: inline-block;
	float: left;
}

li a{
	text-align: center;
	padding: 14px 27px;
	text-decoration: none;
	color: white;
	font-size: 22px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-weight: 1000;
	border-radius: 100px/50px;
}

nav{
	padding-top: 30px;
	padding-left: 39%;
}

li a:hover{
	font-size: 27px;
	color: #3f3e39;
}

/* endof section home */

/* section 2 */
#bio{
	background: linear-gradient(to bottom, #000,#413d3d,#ddd);
	background-size: cover;
	color: white;
	min-height: 100%;
	min-width: 1024px;
	background-position: center center;

	margin-top: 47.4%;
}

.timeline-butt{
	visibility: hidden;
	padding-top: 14%;
	padding-left: 7%;
	text-align: left;
	position: absolute;
	cursor: pointer;
	font-size: 32px;
  	font-family:'Dosis',sans-serif;
  }

.timeline-butt b{
	padding: 12px;
	border:none;
	color: white;
	display: block;
	text-decoration: none;
}

.timeline-butt b:hover {
  color: #ccc;
  font-size: 38px;
}

.teks-bio{
	font-family: 'Signika', sans-serif;
	padding-left: 20%;
	padding-top: 20%;
	font-size: 30px;
	visibility: hidden;
}

/*contact section begin*/
#contact{
	background-color: #ddd;
}

#contact h1{
	font-family: 'Lalezar',cursive;
	padding-top: 5%;
	padding-left: 10%;
	font-size: 380%;
	position: absolute;
}

#ktk{
	padding-top: 13%;
	padding-left: 16%;
  	width: 100px;
}

#kontak{
	padding-left: 2%;
	padding-top: 13%;
}

#kontak p{
	padding: 4.3%;
	font-family: 'Viga', sans-serif;
	font-size: 260%;
}

#kontak p:hover{
	cursor: pointer;
}

#gambar-kontak img{
	display: block;
	height: 90px;
	width: 90px;
	padding: 20px;
}

/* end of contact section*/

/*navbar sticky begin*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*navbar sticky end*/

/* footer begin */
footer{
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: #ddd;
  	color: #5e5e5e;
  	text-align: center;
  	font-family: 'Viga', sans-serif;
  	font-size: 20px; 
}
/* footer end */



